.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cabecera{
  display:  flex;

}

.logo{
  width: auto;
  height: 70px;
}
#btnCerrar{
  border-radius: 7px;
  margin-left: 10%;
  border: 2px solid rgb(159, 150, 150);
}
.opciones{
  margin-left: -95px;
}
.home{
  margin-top: 5%;
  margin-right: 20px;
  margin-left: 19%;
}
.container-btn-load-more{
  display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.container{
    height: 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;  
}
.product{
  margin-bottom: 15px;
  margin-right: 10px;
  height: auto;  
  min-height: 370px;
  max-height: 400px;
}
.btn-load-more{
  background-color: #61dafb;
  color:  white;
  border-radius:  8px;
  height: 70px;
  width: 150px;
  margin-bottom: 20px;

}
.btnComprar{
  width: 150px;
  height: 40px;
  background-color: rgb(32, 186, 253);
  border-radius: 7px;
  border: none;
  margin-left: -70%;
}
.btn-load-more:hover{
  background-color: rgb(11, 83, 206);
  color: black;
}
.cardProduct{
  text-align: center;
}
.img-Product{
  height: 150px;
  width: auto;
}
.title{
  font-size: 14px;
}
.iconDelete{
 height: 50px;
 width: auto;
}
.iconDelete:hover{
  cursor: pointer;
}
.fa-trash-o{
  color: red;
  font-size: 50px;  
}
.CrudTitle{
  display: flex;
  justify-content: space-between;
}
.CrudTitle Button{
  width: 170px; 
  margin-right: 80px;
  margin-bottom: 20px;
}
.formCrear{
  width: auto;
  height: auto;
}
.DatosP{
  margin: 10px 10px 5px 20px;
  display: flex;
}